<section>
    <div class="container">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Hotel Vitória</h5>
              <p class="card-text"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
              <a href="{% url 'aluno' %}" class="btn btn-primary">Reservar</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Hotel Hilton </h5>
              <p class="card-text"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
              <a href="{% url 'aluno' %}" class="btn btn-primary">Reservar</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Hotel Copacabana Palace</h5>
              <p class="card-text"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>/p>
              <a href="{% url 'aluno' %}" class="btn btn-primary">Reservar</a>
            </div>
        </div>
    </div>
</section>
